@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.game-tiles {
    height: 100%;
    width: 100%;
    background: linear-gradient(-30deg, #c892ff, #51d7ff);
}

.game-tiles-container {
    height: 100%;
    width: 100%;
}

.tiles-container1, .tiles-container2 {
    position: absolute;
    top: 0;left: 0;
    margin: auto;
    overflow: hidden;
    height: fit-content;
    width: 100%;
}

.tile-row {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tile {
    height: 100%;
    width: 100%;
    transition: .3s;
}
.tile:active {
    background: rgba(0, 0, 0, 0.306);
}

.tile.pressable {
    background: #000;
}

.tile.pressable:active {
    background: rgb(79, 79, 79);
    border: 8px solid rgb(34, 34, 34);
}

.score {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 18px;left: 0;right: 0;
    margin: auto;
    font-size: 48px;
    text-shadow: 0 0 30px black;
    color: white;
    z-index: 9999;
    font-family: "Open Sans",sans-serif;
}